.hero {
  height: 16rem;
  background-image: url("/images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: visible;

  position: relative;
}

.hero-wrapper {
  display: grid;
  gap: 1rem;
}

.hero-title {
  color: hsl(var(--white));
  font-size: 1.5rem;
  font-weight: var(--fw-semi-bold);
  text-align: center;
}

.remaining-requests-text {
  background-color: hsla(var(--white) / 0.5);
  color: hsl(var(--very-dark-gray));
  font-size: 0.75rem;
  font-weight: var(--fw-semi-bold);
  border-radius: 0.25rem;
  padding: 0.25rem;

  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.loading-text {
  color: hsl(var(--white));
  text-align: center;
}

.error-text {
  color: hsl(var(--white));
  text-align: center;
}

/* Responsiveness */
/* Screen sizes >= 768px */
@media screen and (width >= 48em) {
  .hero {
    height: 13rem;
    background-image: url("/images/pattern-bg-desktop.png");
  }

  .hero-title {
    font-size: 2rem;
  }

  .remaining-requests-text {
    padding: 0.25rem;

    left: auto;
    top: 1rem;
    right: 1rem;
  }
}
